*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color:white;
    width: 100vw;
    height: 100vh;

}   
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%,-50%) scale(1);
}

.modalHeader{
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modalTitle{
    font-size: 1.25rem;
    font-weight: bold;
}

.close{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;    
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: 100%;
}


.bookCard{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;
}